@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .progress {
  height: 1rem;
  @apply !rounded-none bg-night-800 border-[1px] border-night-100;
} */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar,
progress[value]::-webkit-progress-value,
progress[value]::-moz-progress-bar {
  border-radius: 0 !important;
}

.img-Green {
  border-color: #89D938;
  border-width: 1px;
}

.img-Green img {
  filter: drop-shadow(0px 100px 0 #B0E25F);
  transform: translateY(-100px);
}

.img-Purple {
  border-color: #D959D6;
  border-width: 1px;
}

.img-Purple img {
  filter: drop-shadow(0px 100px 0 #E59AE3);
  transform: translateY(-100px);
}

.img-Orange {
  border-color: #FF973E;
  border-width: 1px;
}

.img-Orange img {
  filter: drop-shadow(0px 100px 0 #FFBE43);
  transform: translateY(-100px);
}

.img-Yellow {
  border-color: #FFDA14;
  border-width: 1px;
}

.img-Yellow img {
  filter: drop-shadow(0px 100px 0 #FFF09F);
  transform: translateY(-100px);
}

.img-Blue {
  border-color: #55E2E8;
  border-width: 1px;
}

.img-Blue img {
  filter: drop-shadow(0px 100px 0 #A0FBFE);
  transform: translateY(-100px);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */